.contact-box{
    height: 50rem;
    width: 100vw;
    //padding: 30px 0 0 0;
    margin-top: 3.125rem;    //50px
    background-color: whitesmoke;
    .contactus{
        padding: 1.25rem 0 0 14.375rem;     //20px 0 0 230px
        color: green;;
    }
    .contacttitle{
        padding: 2.5rem 0 0 14.375rem;      //40px 0 0 230px
        font-size: 30px;
        font-weight: bold;
        width: 18.75rem;  //300px

    }
    .contacttext{
        width: 18.75rem;
        padding: 1.25rem 0 0 14.375rem;   //20px 0 0 230px;
        
    }
    .login{
        padding: 1.25rem 0 0 1.75rem;        //20px 0 0 28px
    }
}