.content-box{
        width: 100vw;
        height: 58rem;
        background-color: #FAFAFA;
        
        .small{
            width: 100vw;
            height: 11.25rem;   //180px
            margin-top: 1.25rem;   //20px
            margin-left: 1.875rem;  //30px
            line-height: 1.75rem;   //30px
            
            .lineone{
                
                padding: 1.25rem 13.125rem;   //20px 210px
                color: green;
            }
            .linetwo{
                
                font-size: 35px;
                font-weight: bold;
                padding: 0 0 0.9375rem 13.125rem;   //0px 0 15px 210px
            }
            .linethree{
                padding: 0 0 0 13.125rem;   //0px 0 0px 210px
            }
            .linefour{
                padding: 0 0 0 13.125rem;
            }
            
        }
        .cards{
            
            display: flex;
            flex-wrap: wrap;
            width: 62.5rem;  //1000px
            margin-left: 12.5rem;  //200px
            margin-bottom: 1.875;   //30px
            justify-content: space-around;
            align-items: center;
            
            
            
        }
        .cards2{
            
            display: flex;
            flex-wrap: wrap;
            width: 62.5rem;  //1000px
            margin-left: 12.5rem;  //200px
            justify-content: space-around;
            align-items: center;
            
        }

    }