.content-box{
        width: 100vw;
        height: 58rem;
        background-color: #FAFAFA;
        
        .small{
            width: 100vw;
            height: 180px;
            margin-top: 20px;
            margin-left: 30px;
            line-height: 28px;
            
            .lineone{
                
                padding: 20px 210px;
                color: green;
            }
            .linetwo{
                
                font-size: 35px;
                font-weight: bold;
                padding: 0px 0 15px 210px;
            }
            .linethree{
                padding: 0px 0 0px 210px;
            }
            .linefour{
                padding: 0px 0 0px 210px;
            }
            
        }
        .cards{
            
            display: flex;
            flex-wrap: wrap;
            width: 1000px;
            margin-left: 200px;
            margin-bottom: 30px;
            justify-content: space-around;
            align-items: center;
            
            
            
        }
        .cards2{
            
            display: flex;
            flex-wrap: wrap;
            width: 1000px;
            margin-left: 200px;
            justify-content: space-around;
            align-items: center;
            
        }

    }