.index-page{
    width: 100%;
    height: 100%;
    
    .header-box{
        
        //max-width: 1600px;
        //margin: 0 auto; /* 新增加的样式，使其在更大屏幕上居中 */
        width: 100%;
        height: 86px;
        margin-top: 40px;
        background-color: #FAFAFA;
        position: relative;
        .container{
            //max-width: 1600px; /* 限制最大宽度但不影响背景 */
            //margin: 0 auto; /* 内容居中 */
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: start; /* 确保子元素从左侧开始排列 */
            position: relative;
            padding-left: 48px; /* 或根据需要调整，为main-pic提供足够的空间 */
            .main-pic{
                width: 255px; /* 或根据实际图片大小调整 */
                height: 58.26px; /* 或根据实际图片大小调整 */
                padding-top: 14px; /* 调整以垂直居中图片 */
                display: flex; /* 如果需要的话 */
            }
           
            .user{
    
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 18px; /* 调整间距可能需要 */
                position: absolute;
                left: 50%; /* 改为相对于父容器居中 */
                transform: translateX(-50%); /* 新增，确保元素居中 */
                width: auto; /* 改为auto以适应内容宽度 */
                top: calc(50% - 17px/2 - 0.5px);
            
                .services{
                    /* Frame 3 */
    
                    width: 90px;
                    height: 25px;
                    border-style: hidden;
                    background-color: #FAFAFA;
    
                    /* Inside auto layout */
                    flex: none;
                    order: 0;
                    flex-grow: 0;

                    &:hover{
                        
                        //border-style: solid;
                        border-radius: 20px;
                        //background: #278DC6;
                        //color: whitesmoke;
                        background: linear-gradient(to bottom right, #A4E4FD, #278DC6);
                        // box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.4),
                        //             inset 0px -4px 0px 0px rgba(0,0,0,0.2),
                        //             0px 0px 0px 4px rgba(255,255,255,0.2),
                        //             0px 0px 180px 0px #9917FF;
                        box-shadow: inset 0 0 60px whitesmoke,
                                    //inset 20px 0 80px #f0f,
                                    //inset -20px 0 80px #278DC6,
                                    //inset 20px 0 300px #f0f,
                                    //inset -20px 0 300px #278DC6,
                                    //0 0 50px #fff,
                                    //-10px 0 80px #f0f,
                                    10px 0 80px #278DC6;
                        transform: translateY(0px);
                        
                    }
    
                }
                .industries{
                    /* Frame 4 */
    
                    width: 90px;
                    height: 25px;
    
    
                    /* Inside auto layout */
                    flex: none;
                    order: 1;
                    flex-grow: 0;
    
                }
                .company{
                    /* Frame 4 */
    
                    width: 90px;
                    height: 25px;
    
    
                    /* Inside auto layout */
                    flex: none;
                    order: 2;
                    flex-grow: 0;
                    
    
                }
            }
            .signin{
                /* Frame 13 */
    
                position: absolute;
                width: 206px;
                height: 60px;
                left: 1355px;
                top: 13px;
                // border-style: solid;
                // border-width: 4px;
                // border-color: #A4E4FD;
    
                .contactus{
                    /* Frame 12 */
    
                    position: absolute;
                    width: 158px;
                    height: 60px;
                    left: 39px;
                    top: calc(50% - 60px/2);
    
    
                    border-style: solid;
                    border-width: 4px;
                    border-color: whitesmoke;
                    //border-image: linear-gradient(to bottom right, #A4E4FD, #278DC6);
                    // border-radius: 40px;
                    // border-image: linear-gradient(to right, #A4E4FD, #278DC6) 2;
                    // border: 4px solid transparent;
                    
                    border-radius: 40px;
                    background-clip: padding-box, border-box;
                    background-origin: padding-box, border-box;
                    background-image: linear-gradient(90deg, #A4E4FD, #278DC6);
                   
                    
                    /* Frame 12 */
                    .text{
                        /* Contact us */
                        position:absolute;
                        width: 88px;
                        height: 19px;
                        left: 35px;
                        /* 07 */
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 120%;
                        /* or 19px */
    
                        /* Text Heading color */
                        color: #1F1F1F;
    
    
                        /* Inside auto layout */
                        
                        // border-style: solid;
                        // border-width: 4px;
                        // border-color: #A4E4FD;
                    }
                }
            }
        }
    }
    
    
    
 
    .content-box{
        /* Group 104 */

        position: absolute;
        width: 100%;
        height: 1000px;
        left: 0.5px;
        // top: 773px;
        top: 950px;
        background-color: #FAFAFA;
        // border-style: solid;
        // border-width: 4px;
        // border-color: #A4E4FD;
  
        &-part{
            /* Cards Grid Container */

            /* Auto layout */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
 
            width: 100%;
            height: 420px;
            margin-top: 50px;
            
            
            position: relative;
            &-partOne{
                width: 275px;
                height: 420px;
                position: relative;
                display: flex;
                background-color: #A4E4FD;
                place-content: center;
                place-items: center;
                margin-right: 60px;
                border-radius: 15px;
                overflow: hidden;
                &-briefone{
                    z-index: 1;
                    color: white;                
                    position: absolute;
                    width: 256px;
                    height: 44px;
                    left: calc(50% - 256px/2 - 0.5px);
                    top: 57px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                }
                &-iconone{
                    z-index: 1;
                    width: 120px;
                    height: 120px;
                    /* IconDo */
                    position: absolute;
                    left: calc(50% - 120px/2 - 0.5px);
                    top: 109px;                   
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100px;
                    background-image: linear-gradient(180deg,rgb(0,183,255),rgb(255,48,255));
                    height: 130%;
                    animation: rotBGimg 3s linear infinite;
                    transition: all 0.2s linear;
                }
                @keyframes rotBGimg {
                    from{
                        transform: rotate(0deg);
                    }
                    to{
                        transform: rotate(360deg);
                    }
                }
                &::after{
                    content:'';
                    position: absolute;
                    background: linear-gradient(to bottom right, #A4E4FD, #278DC6);
                    inset: 5px;
                    border-radius: 15px;
                }
            }
            
            &-partTwo{
                width: 275px;
                height: 420px;
                position: relative;
                display: flex;
                background-color: #A4E4FD;
                place-content: center;
                place-items: center;
                margin-right: 60px;
                border-radius: 15px;
                overflow: hidden;
                &-brieftwo{
                    z-index: 1;
                    color: white;                
                    position: absolute;
                    width: 256px;
                    height: 44px;
                    left: calc(50% - 256px/2 - 0.5px);
                    top: 57px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                }
                &-icontwo{
                    z-index: 1;
                    width: 120px;
                    height: 120px;
                    /* IconDo */
                    position: absolute;
                    left: calc(50% - 120px/2 - 0.5px);
                    top: 109px;                   
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100px;
                    background-image: linear-gradient(180deg,rgb(0,183,255),rgb(255,48,255));
                    height: 130%;
                    animation: rotBGimg2 3s linear infinite;
                    transition: all 0.2s linear;
                }
                @keyframes rotBGimg2 {
                    from{
                        transform: rotate(0deg);
                    }
                    to{
                        transform: rotate(360deg);
                    }
                }
                &::after{
                    content:'';
                    position: absolute;
                    background: linear-gradient(to bottom right, #A4E4FD, #278DC6);
                    inset: 5px;
                    border-radius: 15px;
                }
            }
            &-partThree{
                width: 275px;
                height: 420px;
                position: relative;
                display: flex;
                background-color: #A4E4FD;
                place-content: center;
                place-items: center;
                margin-right: 60px;
                border-radius: 15px;
                overflow: hidden;
                &-briefthree{
                    z-index: 1;
                    color: white;                
                    position: absolute;
                    width: 256px;
                    height: 44px;
                    left: calc(50% - 256px/2 - 0.5px);
                    top: 57px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                }
                &-iconthree{
                    z-index: 1;
                    width: 120px;
                    height: 120px;
                    /* IconDo */
                    position: absolute;
                    left: calc(50% - 120px/2 - 0.5px);
                    top: 109px;                   
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100px;
                    background-image: linear-gradient(180deg,rgb(0,183,255),rgb(255,48,255));
                    height: 130%;
                    animation: rotBGimg3 3s linear infinite;
                    transition: all 0.2s linear;
                }
                @keyframes rotBGimg3 {
                    from{
                        transform: rotate(0deg);
                    }
                    to{
                        transform: rotate(360deg);
                    }
                }
                &::after{
                    content:'';
                    position: absolute;
                    background: linear-gradient(to bottom right, #A4E4FD, #278DC6);
                    inset: 5px;
                    border-radius: 15px;
                }
            }
            &-partFour{
                width: 275px;
                height: 420px;
                position: relative;
                display: flex;
                background-color: #A4E4FD;
                place-content: center;
                place-items: center;
                margin-right: 33px;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: inset 0 0 60px whitesmoke;
                &-briefour{
                    z-index: 1;
                    color: white;                
                    position: absolute;
                    width: 256px;
                    height: 44px;
                    left: calc(50% - 256px/2 - 0.5px);
                    top: 57px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                }
                &-iconfour{
                    z-index: 1;
                    width: 120px;
                    height: 120px;
                    /* IconDo */
                    position: absolute;
                    left: calc(50% - 120px/2 - 0.5px);
                    top: 109px;                   
                }
                &::before{
                    content: '';
                    position: absolute;
                    width: 100px;
                    background-image: linear-gradient(180deg,rgb(0,183,255),rgb(255,48,255));
                    height: 130%;
                    animation: rotBGimg4 3s linear infinite;
                    transition: all 0.2s linear;
                }
                @keyframes rotBGimg4 {
                    from{
                        transform: rotate(0deg);
                    }
                    to{
                        transform: rotate(360deg);
                    }
                }
                &::after{
                    content:'';
                    position: absolute;
                    background: linear-gradient(to bottom right, #A4E4FD, #278DC6);
                    
                    inset: 5px;
                    border-radius: 15px;
                    z-index: 0;
                }
            }

        }


    }
    
    
}